footer.page-footer
			.container
				h2.call-to-action Download app
				h3.call-to-action.call-to-action__small Show everyone what you can do!
				.wraper-buttons
					a.btn-download-app.btn-download-app__apple(href='#')
						span Download on the
						br
						span.text-semibold App Store
					a.btn-download-app.btn-download-app__google(href='#')
						span Get it on
						br
						span.text-semibold Google Play
			.footer-bottom
				.container
					picture.logo
						source(media='(min-width: 768px)', srcset='img/logo.png')
						img.logo(src='img/logo-mobile.png', alt='SURFACE 1')
					.social-btns
						a.link.link__fb(href='#') Facebook
						a.link.link__tw(href='#') Twitter
						a.link.link__inst(href='#') Instagram
					.wrapper-Contacts-and-Terms
						a.link(href='#') Contacts Us
						span  
						a.link(href='#') Terms & Conditions
// end page-footer