footer.page-footer
			.container
				h2.call-to-action Download app
				h3.call-to-action.call-to-action--small Show everyone what you can do!
				.wraper-buttons
					a.btn-download-app.btn-download-app__apple(href='#')
						span Download on the
						br
						span App Store
					a.btn-download-app.btn-download-app__google(href='#')
						span Get it on
						br
						span Google Play
			.footer-bottom
				.container
					picture
						source(media='(min-width: 768px)', srcset='img/logo.png')
						img.logo.logo--hidden-mobile-and-tablet.logo--visible-desktop(src='img/logo-mobile.png', alt='SURFACE 1')
					.social-btns
						a(href='#') Facebook
						a(href='#') Twitter
						a(href='#') Instagram
					.wrapper-Contacts-and-Terms.wrapper-Contacts-and-Terms--visible-desktop
						a(href='#') Contacts Us
						span  
						a(href='#') Terms & Conditions
// end page-footer