header.page-header
		.container
			.header-top
				picture.logo
					source(media='(min-width: 768px)' srcset='img/logo.png')
					img(src='img/logo-mobile.png' alt='SURFACE 1')
				.comment For athlets and coaches
			.header-middle
				.header-middle__text Be recruited
				.header-middle__text Play college sports

			.wraper-buttons
				a.btn-download-app.btn-download-app__apple(href='#' target='_blank')
					span Download on the
					br
					span.text-semibold App Store
				a.btn-download-app.btn-download-app__google(href='#' target='_blank')
					span Get it on
					br
					span.text-semibold Google Play
			include menu
// end page-header