body
  margin: 0
  font-family: $base-font
  font-size: $base-font-size
  line-height: $base-line-height
img
  max-width: 100%
  height: auto
.container 
  padding: $padding-container
  @media (min-width: 768px)
    margin: $margin-container = 0px 9px
    padding: $padding-container = 0px 24px
  @media (min-width: 1561px)
    width: 1531px
    margin: $margin-container
    padding: $padding-container = 0px 15px
