$base-font = Helvetica, sans-serif
$base-font-size = 15px
$base-line-height = 18px

$margin-container = 0px auto
$padding-container = 0px 19px

$bg-color-header = #0a0d35

$color-item-game = #916ded
$btn-download-app-color = #5e3db3