@import "parts/var";
@import "parts/global";
@import "parts/mixins";

@import "parts/header/header";
@import "parts/footer/footer";

@import "parts/athlets/athlets";
@import "parts/be-active/be-active";
@import "parts/find-contact/find-contact";
@import "parts/players/players";
@import "parts/work-it/work-it";
@import "../../bower_components/slick-carousel/slick/slick.css";