.be-active
.find-contact
.work-it
	display flex
	flex-direction column
	@media (min-width 1561px)
		flex-direction row
		// justify-content space-between
		& .container 
			width: auto	
@media (min-width 1561px)
	.wraper-img img
		display flex
	.find-contact .wraper-img
		order 1
		
.be-active__text
.find-contact__text
.work-it__text
	@media (min-width 1561px)
		flex-grow: 1;
		display flex
		flex-direction column
		justify-content center
.section-paragraph
	font-size 16px
	line-height 20px
	