.be-active
.find-contact
.work-it
	display flex
	flex-direction column
	justify-content center
	@media (min-width 960px)
		flex-direction row
		justify-content space-between
@media (min-width 768px)
	.wraper-img img
		display flex
	.be-active
	.find-contact
	.work-it
		& .wraper-img 
		&	.section-desc
				align-self: center
@media (min-width 960px)
	.wraper-img img
		display flex
	.be-active
	.find-contact
	.work-it
		& .wraper-img 
		&	.section-desc
			align-self: auto
			flex-basis 50%
	.be-active
	.find-contact
	.work-it
		& .wraper-img 
			// flex-shrink 1
			
@media (min-width 960px)
	.find-contact .wraper-img
		order 1
		&__left
			margin-left 11%
		&__right
			margin-right 12%
		& .section-title
			margin-bottom 113px
@media (min-width 1561px)
	.container--width
		width: auto
		
.section-desc
	// @media (max-width 767px)
	@media (min-width 768px)
		padding-top 74px
		padding-bottom 74px
		display flex
	@media (min-width 960px)
		flex-direction column
		justify-content center
		flex-grow 1
.section-paragraph
	font-size 16px
	line-height 20px
	