extends templates/layout
//- не забыть про отступ
block content
	section.athlets
		.container
			.wrap-section-title
				h2.section-title Athlets
		.wrap-feature-columns
			.wrap-feature-column
				.container
					.feature-column
						h3.feature-column__title Connection
						p.feature-column__text Connect with coaches directly, you can ping coaches to view profile.
			.wrap-feature-column.wrap-feature-column--darkish-white
				.container
					.feature-column
							h3.feature-column__title Collaboration
							p.feature-column__text
								| Work with other student athletes to  increase visability. When you share and like other players videos it will increase your visability as a player. This is the team work aspect to Surface 1.
			.wrap-feature-column.wrap-feature-column--purple
				.container
					.feature-column
							h3.feature-column__title Growth
							p.feature-column__text
								| Resources and tools for you to get better as a student Athelte. Access to training classes, tutor sessions, etc.
	// end athlets
	section.players
		.container
			.wrap-section-title
				h2.section-title Players
		.wrap-feature-columns
			.wrap-feature-column
				.container
					.feature-column
						h3.feature-column__title Connection
						p.feature-column__text
							| Connect with talented athlete directly, you can watch their skills through video showreels directly from Surface 1.
			.wrap-feature-column.wrap-feature-column--darkish-white
				.container
					.feature-column
							h3.feature-column__title Collaboration
							p.feature-column__text Work with recruiter to increase your chances of findingtalented athlete.
			.wrap-feature-column.wrap-feature-column--purple
				.container
					.feature-column
							h3.feature-column__title Growth
							p.feature-column__text Save your time, recruit proper athlets for your team.
		// end players
	section.be-active
		.wraper-img
			picture
				source(media='(max-width: 320px)', srcset='img/photo-be_active-mobile.jpg')
				source(media='(min-width: 1561px)', srcset='img/photo-be_active-desktop.jpg')
				img(src='img/photo-be_active-tablet.jpg', alt='Be active')
		.section-desc.be-active__text
			.container.container--width.container--width__left
				h3.section-title Be active
				p.section-paragraph  Post videos with your skills, Like and follow others to be more popular.
	// end Be active
	section.find-contact
		.wraper-img
			picture
				source(media='(max-width: 320px)', srcset='img/photo-find_contact-mobile.jpg')
				source(media='(min-width: 1561px)', srcset='img/photo-find_contact-desktop.jpg')
				img(src='img/photo-find_contact-tablet.jpg', alt='Find contact')
		.section-desc.find-contact__text
			.container.container--width.container--width__right
				h3.section-title Find contact
				p.section-paragraph Contact others to find right coach or athlete you are looking for.
	// end Find contact
	section.work-it
		.wraper-img
			picture
				source(media='(max-width: 320px)', srcset='img/photo-work_it-mobile.jpg')
				source(media='(min-width: 1561px)', srcset='img/photo-work_it-desktop.jpg')
				img(src='img/photo-work_it-tablet.jpg', alt='Work it')
		.section-desc.work-it__text
			.container.container--width.container--width__left
				h3.section-title Work it
				p.section-paragraph
					| Enjoy being a student athelete, the recruiting process can be overwheelming, we want to make this a enjoyable
	// end Work it